<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td colspan="2"> <h3> {{ text_reepay_order_detail_caption }} </h3> </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> <b>{{ Order_id }}: </b> </td>
            <td> {{ handle}} </td>
        </tr>
        <tr>
            <td> {{ transaction_id }}: </td>
            <td> {{ id }} </td>
        </tr>
        <tr>
            <td> {{ invoice_state }}: </td>
            <td> {{ state }} </td>
        </tr>
       {% if authorized_amount > 0 %}
        <tr>
            <td>  {{ total_authorized }}: </td>
            <td> {{ authorized_amount}}  </td>
        </tr>
        {% endif %}
        <tr>
            <td>  {{ total_settled }}: </td>
            <td> {{ settled_amount}} </td>
        </tr>
        <tr>
            <td>  {{ total_refunded }}: </td>
            <td> {{ refunded_amount }} </td>
        </tr>

        <tr>
            <td> {{ Payment_type }}: </td>
            <td> {{ payment_type }}
            </td>
        </tr>

        {% if exp_date %}
        <tr>
            <td> {{ card_exp_date }} : </td>
            <td> {{ exp_date }} </td>
        </tr>
        {% endif %}

        {% if masked_card %}
            <tr>
                <td> {{ Masked_card }}:</td>
                <td> {{ masked_card }} </td>
            </tr>
        {% endif %}

        {% if card_type %}
            <tr>
                <td colspan="2">
                    <img src="view/image/payment/reepay_{{ card_type }}.png" style="width: 110px; height: 60px;" />
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td colspan="5"> <h3> {{ reepay_transactions }} </h3> </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th> {{ th_type }} </th>
            <th> {{ th_state }} </th>
            <th> {{ th_amount }} </th>
            <th> {{ th_transaction_id }} </th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td> {{  transaction.type }}</td>
            <td> {{  transaction.state }} </td>
            <td> {{  transaction.amount  }} </td>
            <td> {{  transaction.id }} </td>
        </tr>
       {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td colspan="5"> <h3>{{ actions }} </h3> </td>
        </tr>
        </thead>
            <tr>
                <td>
                    {{ capture }}
                </td>
                <td>
                    <input {% if amount_to_capture == 0 or state == 'cancelled' %} disabled="disabled" {% endif %} id="reepay_settle_input" type="text" name="reepay_settle_value" value="{{ amount_to_capture }}">
                    <button {% if amount_to_capture == 0 or state == 'cancelled' %} disabled="disabled" {% endif %} id="capture-button" class="btn btn-primary" style="margin-left: 10px"> {{ capture }} </button>
                </td>
            </tr>
            <tr>
                <td>
                    {{ refund }}
                </td>
                <td>
                    <input {% if amount_to_refund == 0 or state == 'cancelled' %} disabled = "disabled" {% endif%} id="reepay_refund_input" type="text" name="reepay_refund_value" value="{{ amount_to_refund }}">
                    <button {% if amount_to_refund == 0 or state == 'cancelled' %} disabled = "disabled" {% endif%} id="refund-button" class="btn btn-primary" style="margin-left: 10px"> {{ refund }} </button>
                </td>
            </tr>
            <tr>
                <td>
                    {{ cancel }}
                </td>
                <td>
                    <button  {% if not (state == 'authorized') %} disabled = "disabled" {% endif%} id="void-button" class="btn btn-primary" style="margin: 10px"> {{ cancel }} </button>
                </td>
            </tr>
    </table>
</div>

<script type="text/javascript"><!--

    $('#capture-button').bind('click',function () {

        var value = $('#reepay_settle_input').val();

        if(validate_amount(value)) {

            if( confirm_action('Would you like to capture amount ' + value + ' ?') ) {
                disable_control();
                $.ajax({
                    url: 'index.php?route=extension/payment/reepay_checkout/charge_settle&user_token={{ user_token }}',
                    type: "post",
                    data: {
                        'amount': $('#reepay_settle_input').val(),
                        'handle': '{{ handle }}'
                    },
                    success: function (response) {

                        response = JSON.parse(response);

                        if ('success' == response.status) {
                            $('#capture-button').prop("disabled", true);
                            loadControl();
                            alert('Capture was successful');
                        }

                        if ( 'failure' == response.status) {
                            alert('Error occurred during captrue: ' + response.error);
                            loadControl();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });

            }else {

                $('#reepay_settle_input').val('{{ amount_to_capture }}');
            }

        }else {

            alert( "Incorrect amount value " + value + " amount format must be like: 12,99 24.00 199.01");
            $('#reepay_settle_input').val('{{ amount_to_capture }}');

        }

    });

    $('#refund-button').bind('click',function () {

        var init_value = '{{ amount_to_refund }}';
        var value = $('#reepay_refund_input').val();

        if(validate_amount(value)) {

            if (confirm_action('Would you like to refund amount ' + value + ' ?')) {
                disable_control();

                $.ajax({
                    url: 'index.php?route=extension/payment/reepay_checkout/refund_charge&user_token={{ user_token }}',
                    type: "post",
                    data: {
                        'amount': $('#reepay_refund_input').val(),
                        'handle': '{{ handle }}'
                    },
                    success: function (response) {

                        response = JSON.parse(response);

                        if ('success' == response.status) {
                            alert('Refund was successful');
                        }

                        if ('failure' == response.status) {
                            alert('Error occurred during refund: ' + response.error);
                        }
                            loadControl();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //console.log(textStatus, errorThrown);
                    }
                });

        } else {
                $('#reepay_refund_input').val('{{ amount_to_refund }}');
            }

        }else {
            alert( "Incorrect amount value " + value + " amount format must be like: 12,99 24.00 199.01");

            $('#reepay_refund_input').val('{{ amount_to_refund }}');
        }

    });

    $('#void-button').bind('click',function () {

        var result = window.confirm("Would you like to cancel amount {{ authorized_amount }} ?");
        if(result) {
            disable_control();
            $.ajax({
                url: 'index.php?route=extension/payment/reepay_checkout/void_charge&user_token={{ user_token }}',
                type: "post",
                data: {
                    'amount': $('#reepay_refund_input').val(),
                    'handle': '{{ handle }}'
                },
                success: function (response) {
                    response = JSON.parse(response);
                    if ('success' == response.status) {
                       alert('Cancel was successful');
                    }
                    if ('failure' == response.status) {
                        alert('Error occurred during cancel: ' + response.error);
                    }
                    loadControl();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.log(textStatus, errorThrown);
                }
            });
        }

     });

    function validate_amount(amount) {
        if( (/^\d*[,\.]\d{2}$/.test(amount) || /^\d*$/.test(amount)) && amount > 0) {
            return true;
        }else {
            return false;
        }
    }

    function loadControl() {
        $.get('index.php?route=extension/payment/reepay_checkout/control&order_id={{ order_id }}&user_token={{ user_token }}',
            function( data ) {
              $('#reepay-api-control').html(data);
        });
    }

    function disable_control() {
        $('#void-button').prop("disabled", true);
        $('#capture-button').prop("disabled", true);
        $('#refund-button').prop("disabled", true);
    }

    function confirm_action(msg, amount) {
        var res = window.confirm(msg);
        if (res) {
            return true;
        }
        else {
            return false;
        }
    }
    //-->
</script>